<form method="post" action='/auth/login'>
	<h5>Login</h5>
	username: <input type="text" name="username" required></br></br>
	password: <input type="Password" name="password" required></br></br>
	<input type="submit" name="loginbtn" value="login">
</form>
<a href="/auth/forget">forget password</a></br>
<form method="post" action="/auth/signup">
	<h5>Create Account</h5>
	username: <input type="text" name="usersignup" required></br></br>
	password: <input type="Password" name="passsignup" required></br></br>
	<input type="submit" name="signupbtn" value="create account">
</form>