<div class="container">
<form method="POST" action="/post/comment/update/{{commentid}}?_method=PUT">
	Comment : <br><textarea rows="4" cols="50" name="comm" required>{{data}}</textarea><br>
	<input type="hidden" name="_method" value="put">
	<input type="submit" value="update_comment">
	</form>
</div>

