<div class="container">
{{>header}}
	<div style="background-color:#ffffaa ">
		<p>Please put a valid address in the email field, or we won't be able to send you a new password if you forget yours. Your address is only visible to you and us. Crawlers and other users can't see it.</p>
	</div>
	<div class="row">
		<div class="col-sm-3">
			user: <br>
			created: <br>
			about: <br>
		</div>
		<div class="col-sm-3">
			{{user.username}}<br>
			created<br>
			<textarea height=80px></textarea>
		</div>
	</div>
</div>